<div class="col-fullwidth">
    <div class="whitebox padd-15 clearfix">                    
           <h4 class="acchead">Jobs</h4>
           <div class="job-box">
               <table width="100%" class="pure pure-table  pure-table-bordered pure-table-hover" id="results">
                   <thead>
                       <tr>
                           <th width="42%">JOB DESCRIPTION</th>
                           <th width="18%">COMPANY NAME</th>
                		<th width="13%">LOCATION</th>
                           <th width="13%">EXPERIENCE</th>                                                
                           <th width="18%">POSTED</th>
                           <th width="18%">Ask4Refferal</th>
                    </tr>
                   </thead>
                   <tbody>
						<% @jobs.each do |job| %>
							<% if job.japproval.name == "Approved" %>
								<% @localminexp = job.minexp %>
								<% @localmaxexp = job.maxexp %>
								<tr>
									<td><%= link_to job.title, job %></td>
									<td><%= job.company %></td>			  
									<td><%= job.location.name %></td>
									<td><%= "#{@localminexp} - #{@localmaxexp} Y" %></td>														
									<td><%= job.created_at.strftime("%d-%b-%Y") %></td>
									<td><%= link_to "Ask4Refferal", new_referral_path(:jobid => job.id) %></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
               </table>  
				<h6 class="general_heading" style="cursor: pointer; cursor: hand; "><div id="pageNavPosition"></div></h6>									
           </div>                                                    
    </div>				
</div>
</br>
