
<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>Please try again with mandatory field marked as *</h2>

      <ul>
      <%= @job.errors.full_messages.first if @job.errors.any? %>
      </ul>
    </div>
  <% end %>
  
		<div class="col-fullwidth">
                <div class="whitebox padd-20 clearfix">
                    
                    <div class="col-left">
                                                                                                                  
						
                             <div class="col-half-left" >
							 <h1>Post Jobs</h1>   
							 </div>
							 <div class="hr-spacer"></div>
							 <div class="col-half-left" >
								<strong>Job Title *</strong>								
								<%= f.text_field :title, placeholder: "Ex. Software Engineer, Quality Analyst" %>
							 </div>
                             									
							 <div class="col-half-right">
								<strong>Company Name *</strong>
								<%= f.text_field :company, placeholder: "Ex. IBM, TechM, Wipro" %>
							 </div>
							 <div class="hr-spacer"></div>						 
							 <div class="col-half-left">
								<strong>Company Url *</strong>
								<%= f.text_field :comurl, placeholder: "Ex. www.ibm.com" %>
							 </div>
							 					 
							  <div class="col-half-right">
								<strong>Designation *</strong>
								<%= f.text_field :designation, placeholder: "Ex. R&D Engineer, Senior Developer" %>
							 </div> 
							<div class="hr-spacer"></div>	 
							 <div class="col-half-left">
								<strong>Contact Person *</strong>
								<%= f.text_field :contactperson %>
							</div>
																										  
							<div class="col-half-right">
								<strong>Contact Number *</strong>
								<%= f.text_field :contactno, placeholder: "Ex. +919945508524" %>
							</div>
							<div class="hr-spacer"></div>								  
							<div class="col-half-left">
								<strong>Contact Email *</strong>
								<%= f.text_field :contactemail, placeholder: "Ex. ram@gmail.com" %>
							</div>			
							<div class="col-half-right">
									<div style="display: inline-block;">
											<strong>Notice Period *</strong>
											
											<%= f.select(:nperiod, [["Notice Period (Days)", ""],"0","1", "2", "3", "4", "5","6", "7", "8", "9", "10","11", "12", "13", "14", "15","16", "17", "18", "19", "20","21", "22", "23", "24", "25","26", "27", "28", "29", "30","31", "32", "33", "34", "35","36", "37", "38", "39", "40","41", "42", "43", "44", "45","46", "47", "48", "49", "50","51", "52", "53", "54", "55","56", "57", "58", "59", "60"], {},   :style => "width:220px" ) %> 									
											
									</div>
							</div>	
							<div class="hr-spacer"></div>	
							<div class="col-half-left">
								<strong>Job Category *</strong>
								<%= f.select :category_id, Category.all.collect {|x| [x.name ,x.id]}, {:include_blank => "Select One"}, :style => "width:220px" %><br />
							</div>
													 
							<div class="col-half-right">
									<strong>Job Location *</strong>
									<%= f.select :location_id, Location.all.collect {|x| [x.name ,x.id]}, {:include_blank => "Select One"}, :style => "width:220px" %><br />
							</div>
							<div class="hr-spacer"></div>
							<div class="col-half-left">
									<strong>Job Mode *</strong>
									<%= f.select :mode_id, Mode.all.collect {|x| [x.name ,x.id]}, {:include_blank => "Select One"}, :style => "width:220px" %><br />
							</div>
							
							<div class="col-half-right">
									<strong>Job Type *</strong>
									<%= f.select :jtype_id, Jtype.all.collect {|x| [x.name ,x.id]}, {:include_blank => "Select One"}, :style => "width:220px" %><br />
							</div>
												
											
							<div class="hr-spacer"></div>														 
							<div class="col-half-left">
									<div style="display: inline-block;">
											<strong>Experience *</strong>
											
											<%= f.select(:minexp, [["Min Exp (Years)", ""],"0","1", "2", "3", "4", "5","6", "7", "8", "9", "10","11", "12", "13", "14", "15","16", "17", "18", "19", "20","21", "22", "23", "24", "25","26", "27", "28", "29", "30"], {},  :style => "width:220px" ) %> </br>
											
											<%= f.select(:maxexp, [["Max Exp (Years)", ""],"0","1", "2", "3", "4", "5","6", "7", "8", "9", "10","11", "12", "13", "14", "15","16", "17", "18", "19", "20","21", "22", "23", "24", "25","26", "27", "28", "29", "30"], {}, :style => "width:220px" ) %> </br>
											
									</div>
							</div>		
							<div class="col-half-right">
									<div style="display: inline-block;">
											<strong>Salary</strong>
											
											<%= f.select(:minsalary, [["Min Salary (LPA)", ""],"0","1", "2", "3", "4", "5","6", "7", "8", "9", "10","11", "12", "13", "14", "15","16", "17", "18", "19", "20","21", "22", "23", "24", "25","26", "27", "28", "29", "30"], {},  :style => "width:220px" ) %> </br>
											
											<%= f.select(:maxsalary, [["Max Salary (LPA)", ""],"0","1", "2", "3", "4", "5","6", "7", "8", "9", "10","11", "12", "13", "14", "15","16", "17", "18", "19", "20","21", "22", "23", "24", "25","26", "27", "28", "29", "30"], {}, :style => "width:220px" ) %> </br>
																															
									</div>
							</div>		
							
							<div class="hr-spacer"></div>
							
							<div class="col-half-left">
								<strong>Preferred Gender</strong>
								<%= f.select :gender_id, Gender.all.collect {|x| [x.name ,x.id]}, {:include_blank => "Select One"}, :style => "width:220px" %><br />
							</div>
								
														
							<div class="hr-spacer"></div>
							<div class="col-fullwidth">							
								<strong>Description *</strong>
								<%= f.cktext_area :description, :ckeditor => {:toolbar => 'mini'} %>
							</div>
							<div class="hr-spacer"></div>
							<div class="col-half-left">
								<%= f.submit  value="Post Job"%>
							</div>
									
						
					</div>
					
					<div class="col-right ">
<!--					<%= f.label :"Ads" %> -->
					</div>
                                
                </div>          
        </div>

  

<% end %>
